.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #1e1e1e;
    color: #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    color: #00aaff;
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.chart {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart h2 {
    text-align: center;
    color: #00aaff;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #00aaff;
}

th {
    background-color: #333;
    color: #00aaff;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #00aaff;
}